modules = ["web", "python-3.12", "nodejs-20"]

[nix]
channel = "stable-24_05"
packages = ["geckodriver"]

[workflows]
runButton = "Frontend Dev"

[[workflows.workflow]]
name = "Frontend Dev"
author = 2318933
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd FrontEnd && python -m http.server 5000 --bind 0.0.0.0"

[[ports]]
localPort = 5000
externalPort = 80
